<!--
  Riviera Premier League <rivierapremierleague@gmail.com>
  Copyright (C) 2014  IEEE Computer Society - VIT Student Chapter <ieeecs@vit.ac.in>

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<!DOCTYPE html>
<!--[if IE 9]>
<html class="lt-ie10" lang="en">
<![endif]-->
<html lang="en" class="no-js">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Riviera Premier League</title>
        <link type="text/css" rel="stylesheet" href="/bower/bootstrap/dist/css/bootstrap.min.css"/>
        <link type="text/css" rel="stylesheet" href="/bower/jquery-ui/themes/smoothness/jquery-ui.min.css"/>
        <link href="/stylesheets/rplmain.min.css" rel="stylesheet" type="text/css"/>
        <link href="/stylesheets/pace.min.css" rel="stylesheet" type="text/css"/>
        <style>
            #dis1, #dis2, #dis3, #dis4 {
                margin: 10% 0;
            }

            .affix {
                top: 0;
            }

            #dis1 li, #dis2 li, #dis3 li, #dis4 li {
                padding: 15px;
                background: rgba(255, 255, 255, 0.1);
                margin: 1%;
            }

            #dis1 img, #dis2 img, #dis3 img, #dis4 img {
                width: 15%;
                float: left;
                margin: -4% 0 0 0;
                padding: 0;;

            }
        </style>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-72986055-1', 'auto');ga('send', 'pageview');
        </script>
    </head>
    <body onload="load()" style="overflow-x:hidden;background-color:rgba(200,200,200,0.7);font-family: 'PT Sans', sans-serif;height:100%;text-align: center">
        <div id="loader-wrapper">
            <div id="loader" style="overflow: visible;"></div>
            <div class="loader-section section-left" style="overflow: visible;"></div>
            <div class="col-md-6 col-md-offset-3" style="display:none;z-index: 1001;" id="preload">
                <h2 id="ini" style="color: rgba(255,255,255,0.9)">Formation Selection</h2><hr>
                <h4>
                    <small style="color: rgba(255,255,255,0.8)">
                        <br/>
                        This is the Formation selection page.
                        <br/><br/>
                        <b>After a formation has been chosen it can be changed by visiting the change formation link from Home
                            page or Settings.</b>
                        <br/><br/>
                        Your team is displayed on the right.
                        <br/><br/>
                        There are 7 formations.
                        <br/><br/>
                        4-4-2, 4-3-3, 3-5-2, 4-5-1, 3-4-3, 5-3-2, 3-3-4
                        <br/><br/>
                        Clicking on a formation tab will reset the current formation that you have chosen.
                        <br/><br/>
                        <b>Click on the position first and then select the player that you want to put in that position.</b>
                        <br/><br/>
                        Any player is allowed to play at any position.
                        <br/><br/>
                    </small>
                </h4>
                <button id="preload_button">Start</button>
            </div>
            <div class="loader-section section-right" style="z-index: -1;"></div>
        </div>
        <!-- Container -->
        <div style="padding: 0;margin: 0;overflow: hidden">
            <!-- Header -->
            <div class="col-md-12" style="background: white;z-index: 3" id="header">
                <!--logo-->
                <div class="row">
                    <div class="col-md-1 col-xs-1 col-xs-offset-2 col-md-offset-2" align="center">
                        <img src="http://res.cloudinary.com/rpl/general/rplsmall.jpg" style="height:9em;">
                    </div>
                    <div class="col-md-1"></div>
                    <!--Riviera Premier League -->
                    <div class="col-md-6" align="center" style="margin-left: -5%">
                        <h1 style="margin-top:7%">
                            <small style="font-size: 130%;text-shadow: 1px 2px rgba(0,0,0,0.3)">Riviera Premier League</small>
                        </h1>
                    </div>
                </div>
                <!--Menu -->
            </div>
            <nav class="navbar navbar-default col-xs-12 " role="navigation" style="margin:0;z-index: 2;background: rgba(0,0,0,0.8);position: relative;padding: 0;border: none;border-radius: 0">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#home-bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#" id="brand">Riviera Premier League</a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="home-bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="/home">Home</a></li>
                            <li><a href="/home/matches">Matches</a></li>
                            <li><a href="/home/leaderboard">Leaderboard</a></li>
                            <li><a href="/rules">Rules</a></li>
                            <li><a href="/home/prize">Prizes</a></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="content_wrap row">
                <div>
                    <div class="col-md-9  col-xs-9 col-sm-9  " style="margin: 0;padding: 0; float: left;left:0;background: rgba(0,0,0,0.9);top:0;z-index: 999">
                        <!--data-spy="affix" data-value="0" data-offset-top="126" data-offset-bottom="630">-->
                        <div class="collapse navbar-collapse" id="myTab" style="float:left">
                            <ul class="nav navbar-nav">
                                <%for(i = 1; i < 8; ++i) {%>
                                    <li role="presentation" class="active">
                                        <a href="#for<%=i%>" aria-controls="for<%=i%>" role="tab" data-toggle="tab" onclick="clear_all()">
                                            Formation <%=i%>
                                        </a>
                                    </li>
                                <%}%>
                            </ul>
                        </div>
                    </div>
                    <div class=" col-md-3 col-xs-3 col-sm-3 " id="player_list"
                         style="height:870px;overflow-y: scroll;right:0;margin-top: 0;top:0;float: right">
                        <!-- data-spy="affix" data-offset-top="126" data-offset-bottom="100">-->
                        <h3>
                            Squad <hr>
                        </h3>
                        <h4>
                            <small>Formation</small>
                        </h4>
                        <ul id="list">
                            <li>
                                <a href="#">
                                    <h4 id="goal">Goalkeepers</h4>
                                </a>
                                <hr/>
                                <ul id="dis1">
                                    <% var i;  for(i = 0;i < results.team.length; ++i) { %>
                                        <% if(results.team[i]._id > 368){ %>
                                            <li id="box<%= results.team[i]._id %>">
                                                <img src='http://res.cloudinary.com/rpl/players/keepers/<%= results.team[i]._id %>.jpg'/>
                                                <button onclick='rem(<%= results.team[i]._id %>)'> << </button>
                                                <p><%= results.team[i].Name %></p>
                                                <form name="h" style="display: none">
                                                    <input value="<%= results.team[i].Name %>" id="cn<%= results.team[i]._id %>"/>
                                                </form>
                                            </li>
                                        <% } %>
                                    <% } %>
                                </ul>
                            </li>
                            <li>
                                <a href="#">
                                    <h4 id="def">Defenders</h4>
                                </a>
                            </li>
                            <li><hr></li>
                            <li>
                                <ul id="dis2">
                                <% for(i = 0; i < results.team.length; ++i) { %>
                                    <% if(results.team[i]._id[0] === 'a'){ %>
                                        <li id="box<%= results.team[i]._id %>">
                                            <img src='http://res.cloudinary.com/rpl/players/defenders/<%= results.team[i]._id %>.jpg'/>
                                            <button onclick='rem(<%= results.team[i]._id %>)'> << </button>
                                            <p><%= results.team[i].Name %></p>
                                            <form name="h" style="display: none">
                                                <input value="<%= results.team[i].Name %>" id="cn<%= results.team[i]._id %>"/>
                                            </form>
                                        </li>
                                    <% } %>
                                <% } %>
                            </ul></li>
                            <li><a href="#">
                                    <h4 id="mid">Midfielders</h4>
                                </a></li>
                            <li><hr/></li>
                            <li>
                                <ul id="dis3">
                                <% for(i = 0;i < results.team.length; ++i) { %>
                                    <% if(results.team[i]._id[0] === 'b'){ %>
                                        <li id="box<%= results.team[i]._id %>">
                                            <img src='http://res.cloudinary.com/rpl/players/midfielders/<%= results.team[i]._id %>.jpg'/>
                                            <button onclick='rem(<%= results.team[i]._id %>)'> <<</button>
                                            <p><%= results.team[i].Name %></p>
                                            <form name="h" style="display: none">
                                                <input value="<%= results.team[i].Name %>" id="cn<%= results.team[i]._id %>"/>
                                            </form>
                                        </li>
                                    <% } %>
                                <% } %>
                                </ul>
                            </li>
                            <li>
                                <a href="#">
                                    <h4 id="for">Strikers</h4>
                                </a>
                            </li>
                            <li><hr></li>
                            <li>
                                <ul id="dis4">
                                    <% for(i = 0; i < results.team.length; ++i) { %>
                                        <% if(results.team[i]._id[0] === 'd'){ %>
                                            <li id="box<%= results.team[i]._id %>">
                                                <img src='http://res.cloudinary.com/rpl/players/strikers/<%= results.team[i]._id %>.jpg'/>
                                                <button onclick='rem(<%= results.team[i]._id %>)'><<</button>
                                                <p><%= results.team[i].Name %></p>
                                                <form name="h" style="display: none">
                                                    <input value="<%= results.team[i].Name %>" id="cn<%= results.team[i]._id %>"/>
                                                </form>
                                            </li>
                                        <% } %>
                                    <% } %>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tab-content" style="background: rgba(216,216,216,1)">
                    <%var form = ['4 - 4 - 2', '4 - 3 - 3', '3 - 5 - 2', '4 - 5 - 1', '3 - 4 - 3', '5 - 3 - 2', '3 - 3 - 4'];%>
                    <%for(i = 1; i < 8; ++i){%>
                        <div role="tabpanel" class="tab-pane fade in active col-xs-9 playertab " id="for<%=i%>">
                            <ul>
                                <li style="height: auto;">Formation <%=i + ': ' + form[i - 1]%></li>
                                <li><br/></li>
                                <li style="height: auto;width: auto;">
                                    <div class="col-xs-9" style="background-image: url('http://res.cloudinary.com/rpl/general/field.png');background-size: 100% 100%;background-repeat:no-repeat;height: 600px;width: 489px;">
                                        <ul style="margin:0;padding: 0">
                                            <li>
                                                <form id="formation<%=i%>">
                                                    <%for(j = 0; j < 11; ++j) {%>
                                                        <input type="radio" name="f" id="a<%=j%>" onclick="active(this.id);" style="border: 0;height:auto;width:auto;margin-left: 1%;margin-top: 10%;"/><br>
                                                    <%}%>
                                                </form>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    <%}%>
                    <form id="form" class="col-xs-3" style="margin-left:26.5%">
                        <%for(i = 1; i < 13; ++i) {%>
                            <input type="radio" id="t<%=i%>" name="p<%=i%>" onclick="active(this.id);" style="border: 0;height:auto;width:auto;margin-left: 1%;margin-top: 10%;"/><br>
                        <%}%>
                        <input onclick="subm();" type="submit" id="sub" class="button" style="border-radius: 0" value="Done"/>
                    </form>
                </div>
                <script>
                    $(function () {
                        $('#myTab a:first').tab('show')
                    })
                </script>
            </div>
        </div>
        <!--Footer -->
        <div class="col-md-12 row" style="width:100%;margin:0;box-shadow: 1px 0 5px 5px rgba(0,0,0,0.2);color: white;background:rgba(0,0,0,0.9);min-height: 100%;z-index: 200">
            <hr>
            <div class="row">
                <div class="col-md-12" align="center" style="text-align: center">
                    <a href="/developers">
                        <h4>Developers</h4>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4" align="center">
                    <a href="https://www.facebook.com/ieeecsvit">
                        <img src="http://res.cloudinary.com/rpl/general/ieeecs.png" style="width: 70%;margin:5%"/>
                    </a>
                </div>
                <div class="col-md-offset-4 col-md-4" align="center">
                    <a href="http://www.vit.ac.in/">
                        <img src="http://res.cloudinary.com/rpl/general/vit_logo_white.png" style="width: 70%;margin:5%"/>
                    </a>
                </div>
            </div>
        </div>
        <script src="/bower/jquery-ui/jquery-ui.min.js"></script>
        <script src="/bower/jquery/dist/jquery.min.js"></script>
        <script src="/bower/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/javascript/rpl.min.js"></script>
        <script src="/javascript/modernizr-2.6.2.min.js"></script>
        <script src="/javascript/pace.min.js"></script>
        <script src="/javascript/rpl_formation.min.js"></script>
        <script>
            var load = function()
            {
                setTimeout(function () {
                    $('#preload').fadeIn('slow', function () {
                    }).click(function () {
                        $('#preload').fadeOut('fast', function () {
                        });
                        $('body').addClass('loaded');
                        setTimeout(function () {
                            $('#loader-wrapper').css('display', 'none');
                        }, 1000);
                    });
                }, 700);
            }
        </script>
    </body>
</html>
