<!--
  Riviera Premier League
  Copyright (C) 2014  IEEE Computer Society - VIT Student Chapter <ieeecs@vit.ac.in>

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<!DOCTYPE html>
<!--[if IE 9]>
<html class="lt-ie10" lang="en">
<![endif]-->
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <title>Riviera Premier League</title>
    <link type="text/css" rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link type="text/css" rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="/bower_components/jquery-ui/themes/smoothness/jquery-ui.css"/>

    <script src="/bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <link href="/stylesheets/rplmain.css" rel="stylesheet" type="text/css"/>
    <script src="/javascript/rpl.js"></script>

    <script src="/javascript/rpl_players.js"></script>
    <script type="text/javascript" rel="script">
        var x = document.getElementById('dashboard_header');
        document.onresize(function () {alert(" ");});
    </script>
    <script type="text/javascript" rel="script">
        function t_ch(id) {
            if (id < 127) {
                return 1;
            } else if (id < 253) {
                return 2;
            } else if (id < 369) {
                return 3;
            } else {
                return 4;
            }

        }
    </script>

</head>
<body style="overflow-x:hidden;background-color:rgba(200,200,200,0.7);font-family: 'PT Sans', sans-serif;height:100%;text-align: center">
<!-- Container -->
<div style="padding: 0;margin: 0;overflow: hidden">
    <!-- Header -->
    <div class="col-md-12" style="background: white;z-index: 3" id="header">
        <!--logo-->
        <div class="row">

            <div class="col-md-1 col-xs-1 col-xs-offset-2 col-md-offset-2" align="center">
                <img src="/images/rplsmall.jpg" style="height:9em;"> <!--/images/rpllogo.jpg-->
            </div>
            <div class="col-md-1"></div>
            <!--Riviera Premier League -->
            <div class="col-md-6" align="center" style="margin-left: -5%">

                <h1 style="margin-top:7%">
                    <small style="font-size: 130%;text-shadow: 1px 2px rgba(0,0,0,0.3)">Riviera Premier League</small>
                </h1>

            </div>


        </div>
        <!--Menu -->


    </div>
    <!--Register-->

    <!--test-->
    <nav class="navbar navbar-default " role="navigation"
         style="margin:0;z-index: 2;background: rgba(0,0,0,0.8);position: relative;padding: 0;border: none;border-radius: 0">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#home-bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" id="brand">Riviera Premier League</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="home-bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="#">Matches</a></li>
                    <li><a href="#">Leaderboard</a></li>
                    <li><a href="/rule">Rules</a></li>
                    <li><a href="/prizes">Prizes</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="content_wrap row">
        <div id="affix-top">

            <div class="col-md-3 col-xs-3 col-sm-3" id="player_list">
                <h3> Squad <hr/> </h3>
                <ul id="list">
                    <li><a href="#"><h4 id="for">Forwards</h4></a>
                        <hr/>
                    <ul>
                        <% var i;
                        for (i = 0; i < cf; i++) { %>
                            <li>
                                <img src=/images/forwards/<%= forward[i]%>.jpg' />
                                <p><%= forward[i].name %></p>
                            </li>
                      <%}%>
                    </ul>
                    </li>
                    <li><a href="#"><h4 id="for">Midfielders</h4></a>
                        <hr/>
                        <ul>
                            <% var i;
                            for (i = 0; i < cm; i++) { %>
                            <li>
                                <img src=/images/forwards/<%= mid[i]._id%>.jpg' />
                                <p><%= Team[i].name %></p>
                            </li>
                            <%}%>
                        </ul>
                    </li>
                    <li><a href="#"><h4 id="for">Defenders</h4></a>
                        <hr/>
                        <ul>
                            <% var i;
                            for (i = 0; i < cd; i++) { %>
                            <li>
                                <img src=/images/forwards/<%= def[i]._id%>.jpg' />
                                <p><%= Team[i].name %></p>
                            </li>
                            <%}%>
                        </ul>
                    </li>
                    <li><a href="#"><h4 id="for">Goal Keepers</h4></a>
                        <hr/>
                        <ul>
                            <% var i;
                            for (i = 0; i < cf; i++) { %>
                            <li>
                                <img src=/images/forwards/<%= goal[i]._id%>.jpg' />
                                <p><%= goal[i].name %></p>
                            </li>
                            <%}%>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-md-9  col-xs-9 col-sm-9" style="margin: 0;padding: 0; float: right;background: rgba(0,0,0,0.9);">

                <div class="collapse navbar-collapse" id="myTab">
                    <ul class="nav navbar-nav">
                        <li role="presentation" class="active"><a href="#f0" aria-controls="f0" role="tab"
                                                                  data-toggle="tab">4-4-2</a></li>
                        <li role="presentation"><a href="#f1" aria-controls="f1" role="tab" data-toggle="tab">4-3-3</a>
                        </li>
                        <li role="presentation"><a href="#f2" aria-controls="f2" role="tab" data-toggle="tab">3-5-2</a>
                        </li>
                        <li role="presentation"><a href="#f3" aria-controls="f3" role="3" data-toggle="tab">4-5-1</a>
                        </li>
                        <li role="presentation"><a href="#f4" aria-controls="f4" role="tab"
                                                                  data-toggle="tab">3-4-3</a></li>
                        <li role="presentation"><a href="#f5" aria-controls="f5" role="tab"
                                                                  data-toggle="tab">5-3-2</a></li>
                        <li role="presentation"><a href="#f6" aria-controls="f6" role="tab"
                                                                  data-toggle="tab">3-3-4</a></li>
                    </ul>
                </div>

            </div>
        </div>

    </div>
    <!--Footer-->
    <div class="col-md-12"
         style="box-shadow: 1px 0 5px 5px rgba(0,0,0,0.2);color: white;background:rgba(0,0,0,0.9);min-height: 100%">
        <hr/>
        <div class="row">
            <div class="col-md-12" align="center" style="text-align: center">
                <a href="/developer">
                    <h4>
                        Developers
                    </h4>
                </a>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4" align="center"><a href="http://www.vitriviera.com/"><img src="/images/riviera.png"
                                                                                           style="width: 100%;margin:5%"/></a>
            </div>
            <div class="col-md-4" align="center"><a href="https://www.facebook.com/ieeecsvit"><img
                            src="/images/ieeecs logo.gif" style="width: 70%;margin:5%"/></a></div>
            <div class="col-md-4" align="center"><a href="http://www.vit.ac.in/"><img src="/images/vit_logo_white.png"
                                                                                      style="width: 70%;margin:5%"/></a>
            </div>

        </div>
    </div>
</div>
</body>
</html>