<!--
  Riviera Premier League <rivierapremierleague@gmail.com>
  Copyright (C) 2014  IEEE Computer Society - VIT Student Chapter <ieeecs@vit.ac.in>

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<!DOCTYPE html>
<!--[if IE 9]>
<html class="lt-ie10" lang="en">
<![endif]-->
<html lang="en" class="no-js">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link type="text/css" rel="stylesheet" href="/bower/bootstrap/dist/css/bootstrap.min.css"/>
        <link type="text/css" rel="stylesheet" href="/bower/jquery-ui/themes/smoothness/jquery-ui.min.css"/>
        <script src="/bower/jquery-ui/jquery-ui.min.js"></script>
        <script src="/bower/jquery/dist/jquery.min.js"></script>
        <script src="/bower/bootstrap/dist/js/bootstrap.min.js"></script>
        <link href="/stylesheets/rplmain.min.css" rel="stylesheet" type="text/css"/>
        <link href="/stylesheets/pace.min.css" rel="stylesheet" type="text/css"/>
        <script src="/javascript/rpl.min.js"></script>
        <script src="/javascript/rpl_players.min.js"></script>
        <script src="/javascript/modernizr-2.6.2.min.js"></script>
        <script src="/javascript/pace.min.js"></script>
        <script>
            var load = function()
            {
                setTimeout(function () {
                    $('#preload').fadeIn('slow', function () {
                    }).click(function () {
                        $('#preload').fadeOut('fast', function () {
                        });
                        $('body').addClass('loaded');
                        setTimeout(function () {
                            $('#loader-wrapper').css('display', 'none');
                        }, 1000);
                    });
                }, 700);
            }
        </script>
        <title>Home | RPL</title>
    </head>
    <body onload="load()" style="overflow-x:hidden;background-color:rgba(200,200,200,0.7);font-family: 'PT Sans', sans-serif;height:100%;text-align: center">
        <!-- Container -->
        <div id="loader-wrapper">
            <div id="loader" style="overflow: visible;"></div>
            <div class="loader-section section-left" style="overflow: visible;"></div>
            <div class="col-md-6 col-md-offset-3" style="display:none;z-index: 1001; margin-top: 8%" id="preload">
                <h1 id="ini" style="color: rgba(255,255,255,0.9);font-weight: lighter;font-size: 350%">Riviera PremierLeague</h1>
                <br><br><br>
                <button id="preload_button">Enter</button>
            </div>
            <div class="loader-section section-right" style="z-index: -1;"></div>
        </div>
        <div class="row" style="padding: 0;margin: 0;overflow: hidden">
            <!-- Header -->
            <div class="row" style="margin:0;padding: 0;">
                <div class="col-md-12" style="background: white;z-index: 3" id="header">
                    <!--logo-->
                    <div class="row">
                        <div class="col-md-1 col-xs-1 col-xs-offset-2 col-md-offset-2" align="center">
                            <img src="http://res.cloudinary.com/rpl/general/rplsmall.jpg" style="height:9em;">
                        </div>
                        <div class="col-md-1"></div>
                        <!--Riviera Premier League -->
                        <div class="col-md-6" align="center" style="margin-left: -5%">
                            <h1 style="margin-top:7%">
                                <small style="font-size: 130%;text-shadow: 1px 2px rgba(0,0,0,0.3)">Riviera Premier League</small>
                            </h1>
                        </div>
                    </div>
                    <!--Menu -->
                </div>
                <!--Register-->
                <!--test-->
                <nav class="navbar navbar-default col-xs-12 " role="navigation" style="margin:0;z-index: 2;background: rgba(0,0,0,0.8);position: relative;padding: 0;border: none;border-radius: 0">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                    data-target="#home-bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#" id="brand">Riviera Premier League</a>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="home-bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="/home">Home</a></li>
                                <li><a href="/home/matches">Matches</a></li>
                                <li><a href="/home/leaderboard">Leaderboard</a></li>
                                <li><a href="/rules">Rules</a></li>
                                <li><a href="/home/prize">Prizes</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </div>
                        <!-- /.navbar-collapse -->
                    </div>
                    <!-- /.container-fluid -->
                </nav>
                <!--test-->
                <!--Content-->
                <div>
                    <div class="col-md-9  col-xs-9 col-sm-9" style="z-index: 999;margin: 0;padding: 0; float: right;background: none;font-size: 70%">
                        <div class="col-xs-4 stats" style="background: rgba(0,0,0,0.8);color: white;padding: 0;z-index: 999">
                            <ul style="padding: 0;margin: 0">
                                <li>
                                    <p>
                                        <small>Team</small> <br/>
                                        <%= results.user._id %>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <small>Wins</small> <br/>
                                        <%= results.user.win %>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <small>Loss</small> <br/>
                                        <%= results.user.loss %>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <small>Points</small> <br/>
                                        <%= results.user.points %>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <small>GD</small> <br/>
                                        <%= results.user.goal_diff %>
                                    </p>
                                </li>
                                <li style="margin-left: 5%">
                                    <a href="/home/settings" style="width: 100%; font-size: 200%">
                                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class=" col-md-3 col-xs-3 col-sm-3" id="player_list" style="float:left;z-index: 999;background: rgba(0,0,0,0.8);padding-bottom: 3%">
                    <h3>Substitutes</h3>
                    <h4>
                        <a href="/home/formation">
                            <small>Change Formation</small>
                        </a>
                    </h4>
                    <ul id="list">
                        <li>
                            <ul id="dis1" style="margin-top: -9%">
                                <% var i, j, err;  for(i = 0; i < results.team.length; ++i) { err = false; %>
                                <% for (j = 0; j < 11; ++j)
                                {
                                    if (results.team[i]._id == results.user.squad[j])
                                    {
                                        err = true;
                                        break;
                                    }
                                }

                                if(!err)
                                {
                                %>
                                    <li id="box<%= results.team[i]._id %>" style="margin: 15% auto">
                                        <img src='http://res.cloudinary.com/rpl/players/keepers/<%= results.team[i]._id %>.jpg'/>
                                        <p><%= results.team[i].Name %></p>
                                        <form name="h" style="display: none">
                                            <input value="<%=results.team[i].Name%>" id="cn<%= results.team[i]._id %>"/>
                                        </form>
                                    </li>
                                <% }  } %>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="tab-content row col-xs-9" style="background: rgba(216,216,216,1);z-index:201;float: left">
                    <%var ref = ['a', 'b', 'c', 'd', 'e', 'f', 'g'];%>
                    <%var type = {a: 'Def', b: 'Mid', c: 'GK', d: 'Str'};%>
                    <%var form = ['4 - 4 - 2', '4 - 3 - 3', '3 - 5 - 2', '4 - 5 - 1', '3 - 4 - 3', '5 - 3 - 2', '3 - 3 - 4'];%>
                     <div role="tabpanel" class="tab-pane fade in active col-xs-9 playertab" id="for<%=results.user.squad[11]%>">
                        <ul>
                            <li style="height: auto;">Formation <%=results.user.squad[11] + ': ' + form[results.user.squad[11]] - 1%></li>
                            <li><br></li>
                            <li style="height: auto;width: auto;">
                                <div class="col-xs-9" style="background-image: url('http://res.cloudinary.com/rpl/general/field.png');background-size: 100% 100%;background-repeat:no-repeat;height: 600px;width: 489px;">
                                    <form id="formation<%=results.user.squad[11]%>">
                                        <ul style="margin:0;padding: 0">
                                            <% for(i = 0; i < 11; ++j){ %>
                                                <li id="<%=ref[results.user.squad[11] - 1] + i%>" style="border: 0;height:auto;width:15%;margin-left: 1%;margin-top: 10%;">
                                                    <%= results.user.squad[i] %> <br/>
                                                    <%= type[results.user.squad[i][0]] %>
                                                </li>
                                            <% } %>
                                        </ul>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <button class="col-xs-4" style="margin-left:23%;margin-bottom: 2%" onclick="window.location.href='/home/formation'">
                        Change Formation
                    </button>
                </div>
            </div>
            <!--Footer -->
            <div class="col-md-12 row" style="box-shadow: 1px 0 5px 5px rgba(0,0,0,0.2);color: white;background:rgba(0,0,0,0.9);min-height: 100%;z-index: 200">
                <hr>
                <div class="row">
                    <div class="col-md-12" align="center" style="text-align: center">
                        <a href="/developers">
                            <h4>Developers</h4>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4" align="center">
                        <a href="https://www.facebook.com/ieeecsvit">
                            <img src="http://res.cloudinary.com/rpl/general/ieeecs.png" style="width: 70%;margin:5%"/>
                        </a>
                    </div>
                    <div class="col-md-offset-4 col-md-4" align="center">
                        <a href="http://www.vit.ac.in/">
                            <img src="http://res.cloudinary.com/rpl/general/vit_logo_white.png" style="width: 70%;margin:5%"/>
                        </a>
                    </div>
                </div>
            </div>
            <!--Rules-->
        </div>
    </body>
</html>