<!--
  Riviera Premier League <rivierapremierleague@gmail.com>
  Copyright (C) 2014  IEEE Computer Society - VIT Student Chapter <ieeecs@vit.ac.in>

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<!DOCTYPE html>
<!--[if IE 9]>
<html class="lt-ie10" lang="en">
<![endif]-->
<html lang="en" class="no-js">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link type="text/css" rel="stylesheet" href="/bower/bootstrap/dist/css/bootstrap.min.css"/>
        <link type="text/css" rel="stylesheet" href="/bower/jquery-ui/themes/smoothness/jquery-ui.min.css"/>
        <script src="/bower/jquery-ui/jquery-ui.min.js"></script>
        <script src="/bower/jquery/dist/jquery.min.js"></script>
        <script src="/bower/bootstrap/dist/js/bootstrap.min.js"></script>
        <link href="/stylesheets/rplmain.min.css" rel="stylesheet" type="text/css"/>
        <script src="/javascript/rpl.min.js"></script>
        <script src="/javascript/rpl_players.min.js"></script>
        <title>Home | RPL</title>
    </head>
    <body style="overflow-x:hidden;background-color:rgba(200,200,200,0.7);font-family: 'PT Sans', sans-serif;height:100%;text-align: center">
        <!-- Container -->
        <div class="row" style="padding: 0;margin: 0;overflow: hidden">
            <!-- Header -->
            <div class="row" style="margin:0;padding: 0;">
                <div class="col-md-12" style="background: white;z-index: 3" id="header">
                    <!--logo-->
                    <div class="row">
                        <div class="col-md-1 col-xs-1 col-xs-offset-2 col-md-offset-2" align="center">
                            <img src="http://res.cloudinary.com/rpl/general/rplsmall.jpg" style="height:9em;">
                        </div>
                        <div class="col-md-1"></div>
                        <!--Riviera Premier League -->
                        <div class="col-md-6" align="center" style="margin-left: -5%">
                            <h1 style="margin-top:7%">
                                <small style="font-size: 130%;text-shadow: 1px 2px rgba(0,0,0,0.3)">Riviera Premier
                                    League
                                </small>
                            </h1>
                        </div>
                    </div>
                    <!--Menu -->
                </div>
                <nav class="navbar navbar-default col-xs-12 " role="navigation" style="margin:0;z-index: 2;background: rgba(0,0,0,0.8);position: relative;padding: 0;border: none;border-radius: 0">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                    data-target="#home-bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#" id="brand">Riviera Premier League</a>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="home-bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li>
                                    <a href="/home">Home</a>
                                </li>
                                <li class="active">
                                    <a href="/home/matches">Matches</a>
                                </li>
                                <li>
                                    <a href="/home/leaderboard">Leaderboard</a>
                                </li>
                                <li>
                                    <a href="/rules">Rules</a>
                                </li>
                                <li>
                                    <a href="/home/prize">Prizes</a>
                                </li>
                                <li>
                                    <a href="/logout">Logout</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.navbar-collapse -->
                    </div>
                    <!-- /.container-fluid -->
                </nav>
                <div>
                    <div class="col-md-9  col-xs-9 col-sm-9" style="z-index: 999;margin: 0;padding: 0; float: right;background: none;font-size: 70%">
                        <div class="col-xs-4 stats" style="background: rgba(0,0,0,0.8);color: white;padding: 0;z-index: 999">
                            <ul style="padding: 0;margin: 0">
                                <% if(results) { %>
                                <li>
                                    <p>
                                        <small>Team</small>
                                        <br/> <%= results._id %>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <small>Wins</small>
                                        <br/> <%= results.win %>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <small>Loss</small>
                                        <br/> <%= results.played - results.win %>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <small>Points</small>
                                        <br/> <%= results.points %>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <small>GD</small>
                                        <br/> <%= results.goal_diff %>
                                    </p>
                                </li>
                                <% } %>
                                <li style="margin-left: 5%">
                                    <a href="/home/settings" style="width: 100%; font-size: 200%">
                                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content -->
            <div class="row">
                <div class="col-md-2"></div>
                <div align="center" class="col-md-8 box" style="background: rgba(255,255,255,1);margin: 2%;box-shadow: 0 0 5px 5px rgba(0,0,0,0.2)">
                    <div class="row" style="text-align: center;margin-bottom: 1%">
                        <h2>Matches</h2>
                        <hr>
                        <% if(!response) { %>
                            <h5>Matches will commence soon.</h5>
                        <% } else { %>
                            <div class="tabs-content">
                                <div class="content active" id="panel1">
                                    <div class="col-xs-12 col-md-offset-1 col-md-10">
                                        <h3 style="font-weight: bolder;">Commentary</h3>
                                        <% if(response["previousMatch"].commentary.length === 0) { %>
                                                <p style="text-align: center;font-weight: bold;">CommentaryUnavailable!</p>
                                        <% } else { %>
                                                <h4 style="font-weight: bold;text-align: center;"><%= response["previousMatch"].commentary[0] %></h4>
                                                <ul style="list-style: none;" class="text-left">
                                                    <% for (var i = 1; i < response["previousMatch"].commentary.length - 2; ++i ) { %>
                                                        <li class="text-left"><%= response["previousMatch"].commentary[i] %></li>
                                                    <% } %>
                                                    <h4 style="font-weight: bold;text-align: center;"><%= response["previousMatch"].commentary[response["previousMatch"].commentary.length - 2] %></h4>
                                                    <h4 style="font-weight: bold;text-align: center;"><%= response["previousMatch"].commentary[response["previousMatch"].commentary.length - 1] %></h4>
                                                </ul>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer -->
        <div class="col-md-12 row" style="box-shadow: 1px 0 5px 5px rgba(0,0,0,0.2);color: white;background:rgba(0,0,0,0.9);min-height: 100%;z-index: 200;margin:0">
            <hr>
            <div class="row">
                <div class="col-md-12" align="center" style="text-align: center">
                    <a href="/developers">
                        <h4>Developers</h4>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4" align="center">
                    <a href="https://www.facebook.com/ieeecsvit">
                        <img src="http://res.cloudinary.com/rpl/general/ieeecs.png" style="width: 70%;margin:5%"/></a>
                </div>
                <div class="col-md-offset-4 col-md-4" align="center">
                    <a href="http://www.vit.ac.in/">
                        <img src="http://res.cloudinary.com/rpl/general/vit_logo_white.png" style="width: 70%;margin:5%"/>
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>