<!--
  Riviera Premier League
  Copyright (C) 2014  IEEE Computer Society - VIT Student Chapter <ieeecs@vit.ac.in>

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<!DOCTYPE html>
<!--[if IE 9]>
<html class="lt-ie10" lang="en">
<![endif]-->
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <title>Riviera Premier League</title>
    <link type="text/css" rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link type="text/css" rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="/bower_components/jquery-ui/themes/smoothness/jquery-ui.css"/>

    <script src="/bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <link href="/stylesheets/rplmain.css" rel="stylesheet" type="text/css"/>
    <script src="/javascript/rpl.js"></script>

    <!--<script src="/javascript/rpl_players.js"></script>-->
    <script type="text/javascript" rel="script">
    /* player selection */
    var team = [];
    var forward = [];
    var mid = [];
    var def = [];
    var goal = [];
    var k = 0;
    var cost = 100000000;

    var cf = 0, cm = 0, cd = 0, cg = 0;
    function subm() {

        if (k < 16) {

            alert("Team not full");


        }
        else if (ch() === -1) {
            alert("You need to choose atleast 1 player of each type.");
        }
        else {
            var id;
            for (var j = 1; j < 17; j++) {
                id = 't' + j;
                document.getElementById(id).value = team[j - 1];

            }

            document.getElementById('form').action = "/home/getTeam";
            document.getElementById('form').method = "post";

            document.getElementById('form').submit();

        }

    }
    function sel(id) {
        if (k == 16) {

            alert("Team limit Reached");
            return -1;
        }


        if (k < 17) {


            var c = 'cc' + String(id);
            var y = document.getElementById(c);
            if (cost - y.value < 0) {
                alert("Low Budget");
                return -1;
            }
            cost -= y.value;
            add(id);
            k++;
            app();
            document.getElementById("box" + id).style.visibility = 'hidden';
            count();
            disp();
        }


    }

    function disp() {


        if (k == 0) {
            document.getElementById("dis1").innerHTML = "";
            document.getElementById("dis2").innerHTML = "";
            document.getElementById("dis3").innerHTML = "";
            document.getElementById("dis4").innerHTML = "";
            count();
        }
        else {
            disp_for();
            disp_mid();
            disp_def();
            disp_goal();

        }
    }
    function disp_for() {
        var i;
        var di = [];
        for (i = 0; i < cf; i++) {

            var id = forward[i];
            var n = 'cn' + String(id);
            var p = 'cp' + String(id);
            var w = document.getElementById(n);
            var x = document.getElementById(p);


            di[i] = "<li><img src='/images/forwards/" + id + ".jpg' /><button onclick='rem(" + id + ")'>X</button><p>" + w.value + "<br /><p>" + x.value + " M</p></li>";

        }

        document.getElementById("dis1").innerHTML = di.join(" ");
    }
    function disp_mid() {
        var i;
        var di = [];
        for (i = 0; i < cm; i++) {

            var id = mid[i];
            var n = 'cn' + String(id);
            var p = 'cp' + String(id);
            var w = document.getElementById(n);
            var x = document.getElementById(p);


            di[i] = "<li><img src='/images/mid/" + id + ".jpg' /><button onclick='rem(" + id + ")'>X</button><p>" + w.value + "<br /><p>" + x.value + " M</p></li>";

        }

        document.getElementById("dis2").innerHTML = di.join(" ");

    }
    function disp_def() {
        var i;
        var di = [];
        for (i = 0; i < cd; i++) {

            var id = def[i];
            var n = 'cn' + String(id);
            var p = 'cp' + String(id);
            var w = document.getElementById(n);
            var x = document.getElementById(p);


            di[i] = "<li><img src='/images/def/" + id + ".jpg' /><button onclick='rem(" + id + ")'>X</button><p>" + w.value + "<br /><p>" + x.value + " M</p></li>";

        }

        document.getElementById("dis3").innerHTML = di.join(" ");

    }
    function disp_goal() {
        var i;
        var di = [];
        for (i = 0; i < cg; i++) {

            var id = goal[i];
            var n = 'cn' + String(id);
            var p = 'cp' + String(id);
            var w = document.getElementById(n);
            var x = document.getElementById(p);


            di[i] = "<li><img src='/images/goal/" + id + ".jpg' /><button onclick='rem(" + id + ")'>X</button><p>" + w.value + "<br /><p>" + x.value + " M</p></li>";

        }

        document.getElementById("dis4").innerHTML = di.join(" ");

    }
    function rem(co) {
        document.getElementById("box" + co).style.visibility = 'visible';
        var i;
        var j;
        if (t_ch(co) == 1) {
            for (i = 0; i < cf; i++) {
                if (co == forward[i]) {
                    for (j = i; j < cf - 1; j++) {

                        forward[j] = forward[j + 1];
                    }
                    break;
                }


            }
            cf--;
            k--;
        } else if (t_ch(co) == 2) {
            for (i = 0; i < cm; i++) {
                if (co == mid[i]) {
                    for (j = i; j < cm - 1; j++) {

                        mid[j] = mid[j + 1];
                    }
                    break;
                }

            }
            cm--;
            k--;
        } else if (t_ch(co) == 3) {
            for (i = 0; i < cd; i++) {
                if (co == def[i]) {
                    for (j = i; j < cd - 1; j++) {

                        def[j] = def[j + 1];
                    }
                    break;
                }

            }
            cd--;
            k--;
        } else if (t_ch(co) == 4) {
            for (i = 0; i < cg; i++) {
                if (co == goal[i]) {
                    for (j = i; j < cg - 1; j++) {

                        goal[j] = goal[j + 1];
                    }
                    break;
                }

            }
            cg--;
            k--;
        }
        app();
        count();
        disp();

    }
    function ch() {
        if (cf === 0 || cm === 0 || cd === 0 || cg === 0)
            return -1;
        else
            return 0;
    }


    function app() {
        var i = 0;
        var j;
        while (i != k) {

            for (j = 0; j < cf; j++) {
                team[i] = forward[j];
                i++;
            }
            for (j = 0; j < cm; j++) {
                team[i] = mid[j];
                i++;
            }
            for (j = 0; j < cd; j++) {
                team[i] = def[j];
                i++;
            }
            for (j = 0; j < cg; j++) {
                team[i] = goal[j];
                i++;
            }
        }
    }
    function t_ch(id) {
        if (id < 127) {
            return 1;
        } else if (id < 253) {
            return 2;
        } else if (id < 369) {
            return 3;
        } else {
            return 4;
        }

    }
    function add(id) {
        if (t_ch(id) == 1) {
            forward[cf] = id;
            cf++;
        } else if (t_ch(id) == 2) {
            mid[cm] = id;
            cm++;
        } else if (t_ch(id) == 3) {
            def[cd] = id;
            cd++;
        } else if (t_ch(id) == 4) {
            goal[cg] = id;
            cg++;
        }
    }
    function count() {
        ch_cost();
        block();
        var tot = cf + cm +cd + cg;
        document.getElementById('for').innerHTML = "Forwards : " + cf;
        document.getElementById('mid').innerHTML = "Midfielders : " + cm;
        document.getElementById('def').innerHTML = "Defenders : " + cd;
        document.getElementById('goal').innerHTML = "Goalkeepers : " + cg;
        document.getElementById('budget').innerHTML = "BUDGET : " + cost + "<br /> Selected : " + tot;


    }
    function ch_cost() {
        var b;
        cost = 100000000;
        for (b = 0; b < k; b++) {
            var c = 'cc' + String(team[b]);
            var y = document.getElementById(c);

            cost -= y.value;


        }

    }
    function block() {
        var i;
        var j;
        for (i = 1; i < 479; i++) {
            var c = 'cc' + String(i);
            var y = document.getElementById(c);
            console.log(y.value);
            if (cost - y.value < 0) {
                j = 'b' + i;
                document.getElementById(j).style.background = "rgba(250,50,50,1)";
            } else {
                j = 'b' + i;
                document.getElementById(j).style.background = "rgba(10,150,50,0.9)";

            }
        }
    }
    </script>


</head>
<body style="overflow-x:hidden;background-color:rgba(200,200,200,0.7);font-family: 'PT Sans', sans-serif;height:100%;text-align: center">
<!-- Container -->
<div style="padding: 0;margin: 0;overflow: hidden">
<!-- Header -->
<div class="col-md-12" style="background: white;z-index: 3" id="header">
    <!--logo-->
    <div class="row">

        <div class="col-md-1 col-xs-1 col-xs-offset-2 col-md-offset-2" align="center">
            <img src="/images/rplsmall.jpg" style="height:9em;"> <!--/images/rpllogo.jpg-->
        </div>
        <div class="col-md-1"></div>
        <!--Riviera Premier League -->
        <div class="col-md-6" align="center" style="margin-left: -5%">

            <h1 style="margin-top:7%">
                <small style="font-size: 130%;text-shadow: 1px 2px rgba(0,0,0,0.3)">Riviera Premier League</small>
            </h1>

        </div>


    </div>
    <!--Menu -->


</div>
<!--Register-->

<!--test-->
<nav class="navbar navbar-default " role="navigation"
     style="margin:0;z-index: 2;background: rgba(0,0,0,0.8);position: relative;padding: 0;border: none;border-radius: 0">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#home-bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" id="brand">Riviera Premier League</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="home-bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="#">Matches</a></li>
                <li><a href="#">Leaderboard</a></li>
                <li><a href="/rule">Rules</a></li>
                <li><a href="/prizes">Prizes</a></li>
                <li><a href="/logout">Logout</a></li>


            </ul>


        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!--test-->


<!--Content-->
<div class="content_wrap row">
<div id="affix-top">

<div class="col-md-3 col-xs-3 col-sm-3" id="player_list">
    <h3>
        Squad
        <hr/>
        <small style="font-size: 60%;" id="budget">
            BUDGET:100000000
            <br />
            Selected : 0
        </small>
    </h3>
    <h4><small>You need to choose atleast 1 player of each type. </small></h4>


    <ul id="list">
        <li><a href="#"><h4 id="for">Forwards : 0</h4></a>
            <hr/>
            <ul id="dis1">
            </ul>
        </li>
        <li><a href="#"><h4  id="mid">Midfielders : 0</h4></a></li>
        <hr/>
        <ul id="dis2">

        </ul>
        <li><a href="#"><h4 id="def">Defenders : 0</h4></a></li>
        <hr/>
        <ul id="dis3">

        </ul>
        <li><a href="#"><h4 id="goal">Goalkeepers : 0</h4></a></li>
        <hr/>
        <ul id="dis4">

        </ul>

    </ul>

    <form id="form">
        <input style="display: none;" id="t1" name="p1" value=""/>
        <input style="display: none;" id="t2" name="p2" value=""/>
        <input style="display: none;" id="t3" name="p3" value=""/>
        <input style="display: none;" id="t4" name="p4" value=""/>
        <input style="display: none;" id="t5" name="p5" value=""/>
        <input style="display: none;" id="t6" name="p6" value=""/>
        <input style="display: none;" id="t7" name="p7" value=""/>
        <input style="display: none;" id="t8" name="p8" value=""/>
        <input style="display: none;" id="t9" name="p9" value=""/>
        <input style="display: none;" id="t10" name="p10" value=""/>
        <input style="display: none;" id="t11" name="p11" value=""/>
        <input style="display: none;" id="t12" name="p12" value=""/>
        <input style="display: none;" id="t13" name="p13" value=""/>
        <input style="display: none;" id="t14" name="p14" value=""/>
        <input style="display: none;" id="t15" name="p15" value=""/>
        <input style="display: none" id="t16" name="p16" value=""/>
        <input onclick="subm();" type="submit"
               id="sub" class="button" style="border-radius: 0"/>

    </form>

</div>


    <div class="col-md-9  col-xs-9 col-sm-9" style="margin: 0;padding: 0; float: right;background: rgba(0,0,0,0.9);">

        <div class="collapse navbar-collapse" id="myTab">
            <ul class="nav navbar-nav">
                <li role="presentation" class="active"><a href="#fort" aria-controls="fort" role="tab"
                                                      data-toggle="tab">Forwards</a></li>
                <li role="presentation"><a href="#midt" aria-controls="midt" role="tab" data-toggle="tab">Midfielders</a>
                </li>
                <li role="presentation"><a href="#deft" aria-controls="deft" role="tab" data-toggle="tab">Defenders</a>
                </li>
                <li role="presentation"><a href="#goalt" aria-controls="goalt" role="tab" data-toggle="tab">Goalkeepers</a>
                </li>


            </ul>
        </div>

    </div>
</div>
<div class="tab-content" style="background: rgba(216,216,216,1)">
    <div role="tabpanel" class="tab-pane fade in active col-xs-9 playertab " id="fort">

            <ul>

                <%var i; for(i = 0;i < Players.length;i++) { %>


                <% if(Players[i]._id<= 126){ %>
                <li class="col-md-3 col-xs-5 " id="box<%= Players[i]._id %>" onclick="">
                    <div class="row" style="padding:1%">
                    <div class="col-xs-6" >
                    <img src="/images/bat/<%= Players[i]._id %>.jpg"/>
                    </div>
                    <div class="col-xs-6" style="padding: 0">
                    <p><%= Players[i].Name %><br/><br />
                        <%= Players[i].Price %> M<br />
                        <br />
                        <button onclick="<%- 'sel(' + Players[i]._id + ')' %>" id="b<%= Players[i]._id %>">
                            Select
                        </button>
                    </p>
                    </div>
                    </div>
                    <form name="h" style="display: none">
                        <input value="<%= Players[i].Name %>" id="cn<%= Players[i]._id %>"/>
                        <input value="<%= Players[i].Price %>" id="cp<%= Players[i]._id %>"/>
                        <input value="<%= Players[i].Cost %>" id="cc<%= Players[i]._id %>"/>
                    </form>

                </li>


                    <% }  } %>


            </ul>

    </div>
    <div role="tabpanel" class="tab-pane fade col-xs-9 playertab " id="midt">
        <ul>

            <% for(i = 0;i < Players.length;i++) { %>


            <% if(Players[i]._id> 126&&Players[i]._id<253){ %>
            <li class="col-md-3 col-xs-5 " id="box<%= Players[i]._id %>" onclick="">
                <div class="row" style="padding:1%">
                    <div class="col-xs-6" >
                        <img src="/images/bat/<%= Players[i]._id %>.jpg"/>
                    </div>
                    <div class="col-xs-6" style="padding: 0">
                        <p><%= Players[i].Name %><br/><br />
                            <%= Players[i].Price %> M<br />
                            <br />
                            <button onclick="<%- 'sel(' + Players[i]._id + ')' %>" id="b<%= Players[i]._id %>">
                                Select
                            </button>
                        </p>
                    </div>
                </div>
                <form name="h" style="display: none">
                    <input value="<%= Players[i].Name %>" id="cn<%= Players[i]._id %>"/>
                    <input value="<%= Players[i].Price %>" id="cp<%= Players[i]._id %>"/>
                    <input value="<%= Players[i].Cost %>" id="cc<%= Players[i]._id %>"/>
                </form>

            </li>


            <% }  } %>


        </ul>
    </div>
    <div role="tabpanel" class="tab-pane fade col-xs-9 playertab " id="deft">
        <ul>

            <% for(i = 0;i < Players.length;i++) { %>


            <% if(Players[i]._id< 369&&Players[i]._id>252){ %>
            <li class="col-md-3 col-xs-5 " id="box<%= Players[i]._id %>" onclick="">
                <div class="row" style="padding:1%">
                    <div class="col-xs-6" >
                        <img src="/images/bat/<%= Players[i]._id %>.jpg"/>
                    </div>
                    <div class="col-xs-6" style="padding: 0">
                        <p><%= Players[i].Name %><br/><br />
                            <%= Players[i].Price %> M<br />
                            <br />
                            <button onclick="<%- 'sel(' + Players[i]._id + ')' %>" id="b<%= Players[i]._id %>">
                                Select
                            </button>
                        </p>
                    </div>
                </div>
                <form name="h" style="display: none">
                    <input value="<%= Players[i].Name %>" id="cn<%= Players[i]._id %>"/>
                    <input value="<%= Players[i].Price %>" id="cp<%= Players[i]._id %>"/>
                    <input value="<%= Players[i].Cost %>" id="cc<%= Players[i]._id %>"/>
                </form>

            </li>


            <% }  } %>


        </ul>
    </div>
    <div role="tabpanel" class="tab-pane fade col-xs-9 playertab " id="goalt">
        <ul>

            <% for(i = 0;i < Players.length;i++) { %>


            <% if(Players[i]._id> 368){ %>
            <li class="col-md-3 col-xs-5 " id="box<%= Players[i]._id %>" onclick="">
                <div class="row" style="padding:1%">
                    <div class="col-xs-6" >
                        <img src="/images/bat/<%= Players[i]._id %>.jpg"/>
                    </div>
                    <div class="col-xs-6" style="padding: 0">
                        <p><%= Players[i].Name %><br/><br />
                            <%= Players[i].Price %> M<br />
                            <br />
                            <button onclick="<%- 'sel(' + Players[i]._id + ')' %>" id="b<%= Players[i]._id %>">
                                Select
                            </button>
                        </p>
                    </div>
                </div>
                <form name="h" style="display: none">
                    <input value="<%= Players[i].Name %>" id="cn<%= Players[i]._id %>"/>
                    <input value="<%= Players[i].Price %>" id="cp<%= Players[i]._id %>"/>
                    <input value="<%= Players[i].Cost %>" id="cc<%= Players[i]._id %>"/>
                </form>

            </li>


            <% }  } %>


        </ul>
    </div>
</div>

<script>
    $(function () {
        $('#myTab a:first').tab('show')
    })
</script>

</div>
<!-- /.navbar-collapse -->

<!-- /.container-fluid -->


<!--<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10" >
        <ul class="nav nav-tabs" role="tablist" id="myTab">
            <li role="presentation" class="active"><a href="#for" aria-controls="for" role="tab" data-toggle="tab">Forwards</a></li>
            <li role="presentation"><a href="#mid" aria-controls="mid" role="tab" data-toggle="tab">Midfielders</a></li>
            <li role="presentation"><a href="#def" aria-controls="def" role="tab" data-toggle="tab">Defenders</a></li>
            <li role="presentation"><a href="#goal" aria-controls="goal" role="tab" data-toggle="tab">Goalkeepers</a></li>
        </ul>
    </div>
</div>-->

</div>

<% var team = []; var k = 0;var r;var j = 0; %>


<!--Footer -->
<div class="col-md-12"
     style="box-shadow: 1px 0 5px 5px rgba(0,0,0,0.2);color: white;background:rgba(0,0,0,0.9);min-height: 100%">
    <hr/>
    <div class="row">
        <div class="col-md-12" align="center" style="text-align: center">
            <a href="/developer">
                <h4>
                    Developers
                </h4>
            </a>

        </div>
    </div>
    <div class="row">
        <div class="col-md-4" align="center"><a href="http://www.vitriviera.com/"><img src="/images/riviera.png"
                                                                                       style="width: 100%;margin:5%"/></a>
        </div>
        <div class="col-md-4" align="center"><a href="https://www.facebook.com/ieeecsvit"><img
                        src="/images/ieeecs logo.gif" style="width: 70%;margin:5%"/></a></div>
        <div class="col-md-4" align="center"><a href="http://www.vit.ac.in/"><img src="/images/vit_logo_white.png"
                                                                                  style="width: 70%;margin:5%"/></a>
        </div>

    </div>
</div>
<div id="fb-root"></div>
<div id="login_small" class="col-md-4">
    <div class="fb-like" data-href="https://www.facebook.com/ieeecsvit" data-layout="button_count" data-action="like"
         data-show-faces="true" data-share="true" style="margin:10%"></div>
</div>
<script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>


<div class="tabs-content">


<div class="content active" id="panel1">
    <div class="large-8 small-12 columns">


    </div>
</div>
<div class="content" id="panel2">
    <div class="large-8 small-12 columns">

        <div style="height: 42em;overflow-y: scroll;background-color: rgba(60,60,60,0.2);padding:2%;margin-right: 2%;border-radius: 5px;"
             class="large-12 small-12 right">
            <table cellspacing="10px"
                   style="background-color: rgba(60,60,60,0.8); border: none;border-radius: 5px;width:100%;">

                <% k = 4;i = 0; var z = 1;for(i = 0;i < Players.length;i++) { %>
                <% if(k < 3){ %>

                <% if(Players[i]._id <= 242 && Players[i]._id > 113){ %>
                <td style="color: #ffffff;font-weight: bold;text-align: center;border:dashed white 1px;margin:2%;border-radius: 5px;width: 34%;"
                    id="box<%= Players[i]._id %>" onclick="">

                    <img src="/images/bowl/<%= Players[i]._id %>.jpg" style="width: 40%;margin: 0;float: left;"/>

                    <p style="text-align: center;"><%= Players[i].Name %><br/>
                        <%= Players[i].Price %></p>

                    <form name="h" style="display: none">
                        <input value="<%= Players[i].Name %>" id="cn<%= Players[i]._id %>"/>
                        <input value="<%= Players[i].Price %>" id="cp<%= Players[i]._id %>"/>
                        <input value="<%= Players[i].Cost %>" id="cc<%= Players[i]._id %>"/>
                        <input value="<%= Players[i].Type %>" id="ct<%= Players[i]._id %>"/>
                    </form>
                    <button class='button [tiny small large]' onclick="<%- 'sel(' + Players[i]._id + ')' %>"
                            style="height: auto;width: auto;margin-left:75%;padding:1.5%;margin-bottom:1%;text-align: center;font-weight: bolder;border: 2px solid green;background-color:rgba(255,255,255,0.1);color: green;border-radius: 5px;">
                        Select

                    </button>
                </td>
                <% k++; } else {
    continue;
} %>
                <% } else { if(z == 1) { %>
                <tr style="background-color: rgba(60,60,60,0.8);border: none;padding:2%;border-radius: 5px;">
                    <% z = 0;k = 0;i--;} else { %>
                </tr>
                <% k = 0;i--; %>
                <tr style="background-color: rgba(60,60,60,0.8);border: none;padding:2%;border-radius: 5px;">
                    <% } } } %>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="content" id="panel3">
    <div class="large-8 small-12 columns">

        <div style="height: 42em;overflow-y: scroll;background-color: rgba(60,60,60,0.2);padding:2%;margin-right: 2%;border-radius: 5px;"
             class="large-12 small-12 right">
            <table cellspacing="10px"
                   style="background-color: rgba(60,60,60,0.8); border: none;border-radius: 5px;width:100%;">

                <% k = 4;i = 0; var z = 1;for(i = 0;i < Players.length;i++) { %>
                <% if(k < 3){ %>

                <% if(Players[i]._id <= 303 && Players[i]._id >= 243){ %>
                <td style="color: #ffffff;font-weight: bold;text-align: center;border:dashed white 1px;margin:2%;border-radius: 5px;width: 34%;"
                    id="box<%= Players[i]._id %>" onclick="">

                    <img src="/images/all/<%= Players[i]._id %>.jpg" style="width: 40%;margin: 0;float: left;"/>

                    <p style="text-align: center;"><%= Players[i].Name %><br/>
                        <%= Players[i].Price %></p>

                    <form name="h" style="display: none">
                        <input value="<%= Players[i].Name %>" id="cn<%= Players[i]._id %>"/>
                        <input value="<%= Players[i].Price %>" id="cp<%= Players[i]._id %>"/>
                        <input value="<%= Players[i].Cost %>" id="cc<%= Players[i]._id %>"/>
                        <input value="<%= Players[i].Type %>" id="ct<%= Players[i]._id %>"/>
                    </form>
                    <button class='button [tiny small large]' onclick="<%- 'sel(' + Players[i]._id + ')' %>"
                            style="height: auto;width: auto;margin-left:75%;padding:1.5%;margin-bottom:1%;text-align: center;font-weight: bolder;border: 2px solid green;background-color:rgba(255,255,255,0.1);color: green;border-radius: 5px;">
                        Select

                    </button>
                </td>
                <% k++; } else {
    continue;
} %>
                <% } else { if(z == 1) { %>
                <tr style="background-color: rgba(60,60,60,0.8);border: none;padding:2%;border-radius: 5px;">
                    <% z = 0;k = 0;i--;} else { %>
                </tr>
                <% k = 0;i--; %>
                <tr style="background-color: rgba(60,60,60,0.8);border: none;padding:2%;border-radius: 5px;">
                    <% } } } %>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="content" id="panel4">
    <div class="large-8 small-12 columns">

        <div style="height: 42em;overflow-y: scroll;background-color: rgba(60,60,60,0.2);padding:2%;margin-right: 2%;border-radius: 5px;"
             class="large-12 small-12 right">
            <table cellspacing="10px"
                   style="background-color: rgba(60,60,60,0.8); border: none;border-radius: 5px;width:100%;">

                <% k = 4;i = 0; var z = 1;for(i = 0;i < Players.length;i++) { %>
                <% if(k < 3){ %>

                <% if(Players[i]._id <= 323 && Players[i]._id > 303){ %>
                <td style="color: #ffffff;font-weight: bold;text-align: center;border:dashed white 1px;margin:2%;border-radius: 5px;width: 34%;"
                    id="box<%= Players[i]._id %>" onclick="">

                    <img src="/images/coaches/<%= Players[i]._id %>.jpg"
                         style="width: 40%;margin: 0;float: left;"/>

                    <p style="text-align: center;"><%= Players[i].Name %><br/>
                        <%= Players[i].Price %></p>

                    <form name="h" style="display: none">
                        <input value="<%= Players[i].Name %>" id="cn<%= Players[i]._id %>"/>
                        <input value="<%= Players[i].Price %>" id="cp<%= Players[i]._id %>"/>
                        <input value="<%= Players[i].Cost %>" id="cc<%= Players[i]._id %>"/>
                        <input value="<%= Players[i].Type %>" id="ct<%= Players[i]._id %>"/>
                    </form>
                    <button class='button [tiny small large]' onclick="<%- 'sel(' + Players[i]._id + ')' %>"
                            style="height: auto;width: auto;margin-left:75%;padding:1.5%;margin-bottom:1%;text-align: center;font-weight: bolder;border: 2px solid green;background-color:rgba(255,255,255,0.1);color: green;border-radius: 5px;">
                        Select

                    </button>
                </td>
                <% k++; } else {
    continue;
} %>
                <% } else { if(z == 1) { %>
                <tr style="background-color: rgba(60,60,60,0.8);border: none;padding:2%;border-radius: 5px;">
                    <% z = 0;k = 0;i--;} else { %>
                </tr>
                <% k = 0;i--; %>
                <tr style="background-color: rgba(60,60,60,0.8);border: none;padding:2%;border-radius: 5px;">
                    <% } } } %>
                </tr>
            </table>
        </div>
    </div>
</div>



<!--Rules-->
</div>
</body>

</html>