<!--
  Riviera Premier League
  Copyright (C) 2014  IEEE Computer Society - VIT Student Chapter <ieeecs@vit.ac.in>

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<!DOCTYPE html>
<!--[if IE 9]>
<html class="lt-ie10" lang="en">
<![endif]-->
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <title>Riviera Premier League</title>
    <link type="text/css" rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link type="text/css" rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="/bower_components/jquery-ui/themes/smoothness/jquery-ui.css"/>

    <script src="/bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <link href="/stylesheets/rplmain.css" rel="stylesheet" type="text/css"/>
    <script src="/javascript/rpl.js"></script>

    <script src="/javascript/rpl_players.js"></script>
    <script src="/javascript/modernizr-2.6.2.min.js"></script>

    <style>
    #loader-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
    }
    #loader {
        display: block;
        position: relative;
        left: 50%;
        top: 50%;
        width: 150px;
        height: 150px;
        margin: -75px 0 0 -75px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #3498db;

        -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

        z-index: 1001;
    }

    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #e74c3c;

        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #f9c922;

        -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    @-webkit-keyframes spin {
        0%   {
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    @keyframes spin {
        0%   {
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }

    #loader-wrapper .loader-section {
        position: fixed;
        top: 0;
        width: 51%;
        height: 100%;
        background: #222222;
        z-index: 1000;
        -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(0);  /* IE 9 */
        transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
    }

    #loader-wrapper .loader-section.section-left {
        left: 0;
    }

    #loader-wrapper .loader-section.section-right {
        right: 0;
    }

    /* Loaded */
    .loaded #loader-wrapper .loader-section.section-left {
        -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(-100%);  /* IE 9 */
        transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
        transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    .loaded #loader-wrapper .loader-section.section-right {
        -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(100%);  /* IE 9 */
        transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
        transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    .loaded #loader {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }
    .loaded #loader-wrapper {
        visibility: hidden;

        -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateY(-100%);  /* IE 9 */
        transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.3s 1s ease-out;
        transition: all 0.3s 1s ease-out;
    }

    /* JavaScript Turned Off */
    .no-js #loader-wrapper {
        display: none;
    }
    .no-js h1 {
        color: #222222;
    }

    #content {
        margin: 0 auto;
        padding-bottom: 50px;
        width: 80%;
        max-width: 978px;
    }






    /* ==========================================================================
       Helper classes
       ========================================================================== */

    /*
     * Image replacement
     */

    .ir {
        background-color: transparent;
        border: 0;
        overflow: hidden;
        /* IE 6/7 fallback */
        *text-indent: -9999px;
    }

    .ir:before {
        content: "";
        display: block;
        width: 0;
        height: 150%;
    }

    /*
     * Hide from both screenreaders and browsers: h5bp.com/u
     */

    .hidden {
        display: none !important;
        visibility: hidden;
    }

    /*
     * Hide only visually, but have it available for screenreaders: h5bp.com/v
     */

    .visuallyhidden {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    /*
     * Extends the .visuallyhidden class to allow the element to be focusable
     * when navigated to via the keyboard: h5bp.com/p
     */

    .visuallyhidden.focusable:active,
    .visuallyhidden.focusable:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
    }

    /*
     * Hide visually and from screenreaders, but maintain layout
     */

    .invisible {
        visibility: hidden;
    }

    /*
     * Clearfix: contain floats
     *
     * For modern browsers
     * 1. The space content is one way to avoid an Opera bug when the
     *    `contenteditable` attribute is included anywhere else in the document.
     *    Otherwise it causes space to appear at the top and bottom of elements
     *    that receive the `clearfix` class.
     * 2. The use of `table` rather than `block` is only necessary if using
     *    `:before` to contain the top-margins of child elements.
     */

    .clearfix:before,
    .clearfix:after {
        content: " "; /* 1 */
        display: table; /* 2 */
    }

    .clearfix:after {
        clear: both;
    }

    /*
     * For IE 6/7 only
     * Include this rule to trigger hasLayout and contain floats.
     */

    .clearfix {
        *zoom: 1;
    }

    /* ==========================================================================
       EXAMPLE Media Queries for Responsive Design.
       These examples override the primary ('mobile first') styles.
       Modify as content requires.
       ========================================================================== */

    @media only screen and (min-width: 35em) {
        /* Style adjustments for viewports that meet the condition */
    }

    @media print,
    (-o-min-device-pixel-ratio: 5/4),
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 120dpi) {
        /* Style adjustments for high resolution devices */
    }

    /* ==========================================================================
       Print styles.
       Inlined to avoid required HTTP connection: h5bp.com/r
       ========================================================================== */

    @media print {
        * {
            background: transparent !important;
            color: #000 !important; /* Black prints faster: h5bp.com/s */
            box-shadow: none !important;
            text-shadow: none !important;
        }

        a,
        a:visited {
            text-decoration: underline;
        }

        a[href]:after {
            content: " (" attr(href) ")";
        }

        abbr[title]:after {
            content: " (" attr(title) ")";
        }

        /*
         * Don't show links for images, or javascript/internal links
         */

        .ir a:after,
        a[href^="javascript:"]:after,
        a[href^="#"]:after {
            content: "";
        }

        pre,
        blockquote {
            border: 1px solid #999;
            page-break-inside: avoid;
        }

        thead {
            display: table-header-group; /* h5bp.com/t */
        }

        tr,
        img {
            page-break-inside: avoid;
        }

        img {
            max-width: 100% !important;
        }

        @page {
            margin: 0.5cm;
        }

        p,
        h2,
        h3 {
            orphans: 3;
            widows: 3;
        }

        h2,
        h3 {
            page-break-after: avoid;
        }
    }

    /*
        Ok so you have made it this far, that means you are very keen to on my code.
        Anyway I don't really mind it. This is a great way to learn so you actually doing the right thing:)
        Follow me @ihatetomatoes
    */
    </style>
<script>

    $(document).ready(function() {

        setTimeout(function(){
            $('body').addClass('loaded');
            $('h1').css('color','#222222');
        }, 3000);

    });
</script>


</head>
<body style="overflow-x:hidden;background-color:rgba(200,200,200,0.7);font-family: 'PT Sans', sans-serif;height:100%;text-align: center">
<!-- Container -->
<div id="loader-wrapper">
    <div id="loader"></div>

    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>

</div>

<div style="padding: 0;margin: 0;overflow: hidden">
<!-- Header -->
<div class="col-md-12" style="background: white;z-index: 3" id="header">
    <!--logo-->
    <div class="row">

        <div class="col-md-1 col-xs-1 col-xs-offset-2 col-md-offset-2" align="center">
            <img src="/images/rplsmall.jpg" style="height:9em;"> <!--/images/rpllogo.jpg-->
        </div>
        <div class="col-md-1"></div>
        <!--Riviera Premier League -->
        <div class="col-md-6" align="center" style="margin-left: -5%">

            <h1 style="margin-top:7%">
                <small style="font-size: 130%;text-shadow: 1px 2px rgba(0,0,0,0.3)">Riviera Premier League</small>
            </h1>

        </div>


    </div>
    <!--Menu -->


</div>
<!--Register-->

<!--test-->
<nav class="navbar navbar-default " role="navigation"
     style="margin:0;z-index: 2;background: rgba(0,0,0,0.8);position: relative;padding: 0;border: none;border-radius: 0">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#home-bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" id="brand">Riviera Premier League</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="home-bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="#">Matches</a></li>
                <li><a href="#">Leaderboard</a></li>
                <li><a href="/rule">Rules</a></li>
                <li><a href="/prizes">Prizes</a></li>
                <li><a href="/logout">Logout</a></li>


            </ul>


        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!--test-->


<!--Content-->
<div class="content_wrap row">
<div id="affix-top">

<div class="col-md-3 col-xs-3 col-sm-3" id="player_list">
    <h3>
        Squad
        <hr/>
        <small style="font-size: 60%;" id="budget">
            BUDGET:100000000
            <br />
            Selected : 0
        </small>
    </h3>
    <h4><small>You need to choose atleast 1 player of each type. </small></h4>


    <ul id="list">
        <li><a href="#"><h4 id="for">Forwards : 0</h4></a>
            <hr/>
            <ul id="dis1">
            </ul>
        </li>
        <li><a href="#"><h4  id="mid">Midfielders : 0</h4></a></li>
        <hr/>
        <ul id="dis2">

        </ul>
        <li><a href="#"><h4 id="def">Defenders : 0</h4></a></li>
        <hr/>
        <ul id="dis3">

        </ul>
        <li><a href="#"><h4 id="goal">Goalkeepers : 0</h4></a></li>
        <hr/>
        <ul id="dis4">

        </ul>

    </ul>

    <form id="form">
        <input style="display: none;" id="t1" name="p1" value=""/>
        <input style="display: none;" id="t2" name="p2" value=""/>
        <input style="display: none;" id="t3" name="p3" value=""/>
        <input style="display: none;" id="t4" name="p4" value=""/>
        <input style="display: none;" id="t5" name="p5" value=""/>
        <input style="display: none;" id="t6" name="p6" value=""/>
        <input style="display: none;" id="t7" name="p7" value=""/>
        <input style="display: none;" id="t8" name="p8" value=""/>
        <input style="display: none;" id="t9" name="p9" value=""/>
        <input style="display: none;" id="t10" name="p10" value=""/>
        <input style="display: none;" id="t11" name="p11" value=""/>
        <input style="display: none;" id="t12" name="p12" value=""/>
        <input style="display: none;" id="t13" name="p13" value=""/>
        <input style="display: none;" id="t14" name="p14" value=""/>
        <input style="display: none;" id="t15" name="p15" value=""/>
        <input style="display: none" id="t16" name="p16" value=""/>
        <input onclick="subm();" type="submit"
               id="sub" class="button" style="border-radius: 0"/>

    </form>

</div>


    <div class="col-md-9  col-xs-9 col-sm-9" style="margin: 0;padding: 0; float: right;background: rgba(0,0,0,0.9);">

        <div class="collapse navbar-collapse" id="myTab">
            <ul class="nav navbar-nav">
                <li role="presentation" class="active"><a href="#fort" aria-controls="fort" role="tab"
                                                      data-toggle="tab">Forwards</a></li>
                <li role="presentation"><a href="#midt" aria-controls="midt" role="tab" data-toggle="tab">Midfielders</a>
                </li>
                <li role="presentation"><a href="#deft" aria-controls="deft" role="tab" data-toggle="tab">Defenders</a>
                </li>
                <li role="presentation"><a href="#goalt" aria-controls="goalt" role="tab" data-toggle="tab">Goalkeepers</a>
                </li>


            </ul>
        </div>

    </div>
</div>
<div class="tab-content" style="background: rgba(216,216,216,1)">
    <div role="tabpanel" class="tab-pane fade in active col-xs-9 playertab " id="fort">

            <ul>

                <%var i; for(i = 0;i < Players.length;i++) { %>


                <% if(Players[i]._id<= 126){ %>
                <li class="col-md-3 col-xs-5 " id="box<%= Players[i]._id %>" onclick="">
                    <div class="row" style="padding:1%">
                    <div class="col-xs-6" >
                    <img src="/images/bat/<%= Players[i]._id %>.jpg"/>
                    </div>
                    <div class="col-xs-6" style="padding: 0">
                    <p><%= Players[i].Name %><br/><br />
                        <%= Players[i].Price %> M<br />
                        <br />
                        <button onclick="<%- 'sel(' + Players[i]._id + ')' %>" id="b<%= Players[i]._id %>">
                            Select
                        </button>
                    </p>
                    </div>
                    </div>
                    <form name="h" style="display: none">
                        <input value="<%= Players[i].Name %>" id="cn<%= Players[i]._id %>"/>
                        <input value="<%= Players[i].Price %>" id="cp<%= Players[i]._id %>"/>
                        <input value="<%= Players[i].Cost %>" id="cc<%= Players[i]._id %>"/>
                    </form>

                </li>


                    <% }  } %>


            </ul>

    </div>
    <div role="tabpanel" class="tab-pane fade col-xs-9 playertab " id="midt">
        <ul>

            <% for(i = 0;i < Players.length;i++) { %>


            <% if(Players[i]._id> 126&&Players[i]._id<253){ %>
            <li class="col-md-3 col-xs-5 " id="box<%= Players[i]._id %>" onclick="">
                <div class="row" style="padding:1%">
                    <div class="col-xs-6" >
                        <img src="/images/bat/<%= Players[i]._id %>.jpg"/>
                    </div>
                    <div class="col-xs-6" style="padding: 0">
                        <p><%= Players[i].Name %><br/><br />
                            <%= Players[i].Price %> M<br />
                            <br />
                            <button onclick="<%- 'sel(' + Players[i]._id + ')' %>" id="b<%= Players[i]._id %>">
                                Select
                            </button>
                        </p>
                    </div>
                </div>
                <form name="h" style="display: none">
                    <input value="<%= Players[i].Name %>" id="cn<%= Players[i]._id %>"/>
                    <input value="<%= Players[i].Price %>" id="cp<%= Players[i]._id %>"/>
                    <input value="<%= Players[i].Cost %>" id="cc<%= Players[i]._id %>"/>
                </form>

            </li>


            <% }  } %>


        </ul>
    </div>
    <div role="tabpanel" class="tab-pane fade col-xs-9 playertab " id="deft">
        <ul>

            <% for(i = 0;i < Players.length;i++) { %>


            <% if(Players[i]._id< 369&&Players[i]._id>252){ %>
            <li class="col-md-3 col-xs-5 " id="box<%= Players[i]._id %>" onclick="">
                <div class="row" style="padding:1%">
                    <div class="col-xs-6" >
                        <img src="/images/bat/<%= Players[i]._id %>.jpg"/>
                    </div>
                    <div class="col-xs-6" style="padding: 0">
                        <p><%= Players[i].Name %><br/><br />
                            <%= Players[i].Price %> M<br />
                            <br />
                            <button onclick="<%- 'sel(' + Players[i]._id + ')' %>" id="b<%= Players[i]._id %>">
                                Select
                            </button>
                        </p>
                    </div>
                </div>
                <form name="h" style="display: none">
                    <input value="<%= Players[i].Name %>" id="cn<%= Players[i]._id %>"/>
                    <input value="<%= Players[i].Price %>" id="cp<%= Players[i]._id %>"/>
                    <input value="<%= Players[i].Cost %>" id="cc<%= Players[i]._id %>"/>
                </form>

            </li>


            <% }  } %>


        </ul>
    </div>
    <div role="tabpanel" class="tab-pane fade col-xs-9 playertab " id="goalt">
        <ul>

            <% for(i = 0;i < Players.length;i++) { %>


            <% if(Players[i]._id> 368){ %>
            <li class="col-md-3 col-xs-5 " id="box<%= Players[i]._id %>" onclick="">
                <div class="row" style="padding:1%">
                    <div class="col-xs-6" >
                        <img src="/images/bat/<%= Players[i]._id %>.jpg"/>
                    </div>
                    <div class="col-xs-6" style="padding: 0">
                        <p><%= Players[i].Name %><br/><br />
                            <%= Players[i].Price %> M<br />
                            <br />
                            <button onclick="<%- 'sel(' + Players[i]._id + ')' %>" id="b<%= Players[i]._id %>">
                                Select
                            </button>
                        </p>
                    </div>
                </div>
                <form name="h" style="display: none">
                    <input value="<%= Players[i].Name %>" id="cn<%= Players[i]._id %>"/>
                    <input value="<%= Players[i].Price %>" id="cp<%= Players[i]._id %>"/>
                    <input value="<%= Players[i].Cost %>" id="cc<%= Players[i]._id %>"/>
                </form>

            </li>


            <% }  } %>


        </ul>
    </div>
</div>

<script>
    $(function () {
        $('#myTab a:first').tab('show')
    })
</script>

</div>

</div>


<!--Footer -->
<div class="col-md-12"
     style="box-shadow: 1px 0 5px 5px rgba(0,0,0,0.2);color: white;background:rgba(0,0,0,0.9);min-height: 100%">
    <hr/>
    <div class="row">
        <div class="col-md-12" align="center" style="text-align: center">
            <a href="/developer">
                <h4>
                    Developers
                </h4>
            </a>

        </div>
    </div>
    <div class="row">
        <div class="col-md-4" align="center"><a href="http://www.vitriviera.com/"><img src="/images/riviera.png"
                                                                                       style="width: 100%;margin:5%"/></a>
        </div>
        <div class="col-md-4" align="center"><a href="https://www.facebook.com/ieeecsvit"><img
                        src="/images/ieeecs logo.gif" style="width: 70%;margin:5%"/></a></div>
        <div class="col-md-4" align="center"><a href="http://www.vit.ac.in/"><img src="/images/vit_logo_white.png"
                                                                                  style="width: 70%;margin:5%"/></a>
        </div>

    </div>
</div>





<!--Rules-->

</body>

</html>